#text-editor {
  min-height: 300px;
  border: 1px solid red;
}

#text-editor>div {

}

#text-editor-scroller {
  min-height: 300px;
}

[data-type="formula-container"] {
  user-select: all;
  -webkit-user-select: all;
}

/* math-field {
  width: 100px !important;
  height: 100px !important;
} */

/* Hide the virtual keyboard toggle */
math-field::part(virtual-keyboard-toggle) {
  display: none;
}

/* Hide the menu toggle */
math-field::part(menu-toggle) {
  display: none;
}